
<h1 style="text-align: center;" mat-dialog-title>{{data.element.name}}</h1>

<div style="display: flex; align-items: center;justify-content: center;" mat-dialog-content>
  <img src="../../../assets/images/logo.png" width="140" height="100"/>
  <div style="margin-left: 30px; ">
    <p><b>Acente ID: </b>{{data.element.id}}</p>
  <p><b>Acente Kodu: </b>{{data.element.code}}</p>

<p><b>Email: </b>{{data.element.email}}</p>

<p><b>Acente Telefon: </b>{{data.element.tel}}</p>
</div>
</div>
<br>
<div style="margin-left: 40px;display: flex;justify-content:center;">
<p ><b>Adres: </b>{{data.element.address }}</p>
</div>

<div mat-dialog-actions>

</div>
<div style="align-items: center; display: flex;  justify-content: center;">
  <button mat-button mat-dialog-close>Kapat</button>
  <button mat-stroked-button color="primary"  (click)="konum()" mat-button>Konumu Göster</button>

</div>

