<h1 style="text-align:center;" mat-dialog-title>Otel Ekle</h1>
<div>
  <mat-form-field >
    <input id="acentekod" required=""  matInput placeholder="Acenta Kodu Giriniz" matInput >
    </mat-form-field><br>
    <mat-form-field >
      <input id="acentead" required="" matInput placeholder="Acenta Adı Giriniz" matInput>
      </mat-form-field>
  <div id="addedbuttons">
    <button id="addhotelbutton" mat-stroked-button color="primary"  mat-button>Ekle</button>
    <button id="cancelhotelbutton" mat-stroked-button color="warn"  mat-button>İptal</button>
</div>
