
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.spacer {
  flex: 1 1 auto;
}

.logo {

  width: 130px;
  align-items: center;
  cursor: pointer;
}
.kullanici{
  position: absolute;
  right: 55px;
  opacity: 0.4;
  font-size: 12px;
  bottom: 3px;
}
.turtle{
cursor: pointer;
}
.table{
  width : 100%;
}
#exitbuton{
  position: absolute;
  float: right;
  right: 20px;
  font-size: 25px;
cursor: pointer;
}
