li{
  list-style-type:none;
}
ul{
  margin: 0%;
}
#addagencybutton{
  text-align: center;
float: left;
margin-left: 150px;

}
#cancelagencybutton
{
  text-align: center;
  float: right;
  margin-right: 150px;
}
